<!DOCTYPE html>
<html>
<head>
    <title>Student Registration</title>
    <link rel="stylesheet" type="text/css" href="../../css/styles.css">
</head>
<body>
<div class="path">
    <a href="/profile">profile</a>
</div>
<h1>Edit My Profile</h1>
<% if (warningMessage) { %>
    <p class='warning-message'>
        <% var warnings = warningMessage.split("\n");
        for (var i = 0; i < warnings.length; i++) { if (!warnings[i].length) continue %>
        <%= warnings[i] %> <br>
        <% } %>
    </p>
<% } %>
<form action="/profile/edit" method="post">
    <label>Password:</label>
    <input type="password" name="password" value="<%= user.password %>" placeholder="Enter your password"><br><br>
    <label>First Name:</label>
    <input type="text" name="firstName" value="<%= user.firstName %>" placeholder="Enter your first name"><br><br>
    <label>Last Name:</label>
    <input type="text" name="lastName" value="<%= user.lastName %>" placeholder="Enter your last name"><br><br>
    <label>Email:</label>
    <input type="email" name="email" value="<%= user.email %>" placeholder="Enter your email"><br><br>
    <label>Phone Number:</label>
    <input type="text" name="phoneNumber" value="<%= user.phoneNumber %>" placeholder="Enter your phone number"><br><br>
    <label>Address:</label>
    <input type="text" name="address" value="<%= user.address %>" placeholder="Enter your address"><br><br>
    <label>Level:</label>
    <select name="level">
        <option value="<%= user.level %>"><%= user.level %></option>
        <% for (i = 1; i <= 4; i++) { %>
            <option value="<%= i %>"><%= i %></option>
        <% } %>
    </select><br><br>
    <label>GPA:</label>
    <input type="text" name="gpa" value="<%= user.gpa %>" placeholder="Enter your GPA"><br><br>
    <div class="edit-or-delete">
        <input type="submit" value="Save">
        <a href='/profile/delete' class="warning">Delete Note</a>
    </div>
</form>
</body>
</html>
