<!DOCTYPE html>
<html>
<head>
    <title>Student Registration</title>
    <link rel="stylesheet" type="text/css" href="../../styles.css">
</head>
<body>
<div class="path">
    <a href="/profile">profile</a>
</div>
<h1>Edit My Profile</h1>
<% if (warningMessage) { %>
    <p class='warning-message'>
        <% var warnings = warningMessage.split("\n");
        for (var i = 0; i < warnings.length; i++) { if (!warnings[i].length) continue %>
        <%= warnings[i] %> <br>
        <% } %>
    </p>
<% } %>
<form action="/profile/edit" method="post">
    <label>Password:</label>
    <input type="password" name="password" value="<%= password %>"><br>
    <label>First Name:</label>
    <input type="text" name="firstName" value="<%= firstName %>"><br>
    <label>Last Name:</label>
    <input type="text" name="lastName" value="<%= lastName %>"><br>
    <label>Email:</label>
    <input type="email" name="email" value="<%= email %>"><br>
    <label>Phone Number:</label>
    <input type="text" name="phoneNumber" value="<%= phoneNumber %>"><br>
    <label>Address:</label>
    <input type="text" name="address" value="<%= address %>"><br>
    <label>Level:</label>
    <input type="text" name="level" value="<%= level %>"><br>
    <label>GPA:</label>
    <input type="text" name="gpa" value="<%= gpa %>"><br>
    <div class="edit-or-delete">
        <input type="submit" value="Save">
        <a href='/profile/delete' class="warning">
            Delete Note</a>
    </div>
</form>
</body>
</html>
