<!DOCTYPE html>
<html>
<head>
    <title>Edit Course</title>
    <link rel="stylesheet" type="text/css" href="../../styles.css">
</head>
<body>
<div class="path">
    <a href="/profile">profile</a> /
    <a href="/courses">courses</a>
</div>
<h1>Edit Course</h1>
<% if (warningMessage) { %>
    <p class='warning-message'>
        <% var warnings = warningMessage.split("\n");
        for (var i = 0; i < warnings.length; i++) { if (!warnings[i].length) continue %>
        <%= warnings[i] %> <br>
        <% } %>
    </p>
<% } %>
<form action="/courses/<%= studentCourseID %>/edit" method="post">
    <label>Course:</label>
    <input type="text" id="searchInput" placeholder="Type here course name and choose from the list"
           onkeyup="searchOptions()">
    <select name="courseSelected" id="courseSelect">
        <option value="<%= courseID %>" selected>S<%= courseCode %> - <%= courseName %></option>
        <% for (let i = 0; i < coursesOptions.length; i++) { %>
            <option value="<%= coursesOptions[i].id %>"><%= coursesOptions[i].code %>
                - <%= coursesOptions[i].name %></option>
        <% } %>
    </select>
    <br>
    <label>Grade:</label>
    <input type="text" name="courseGrade" value="<%= courseGrade %>"><br>
    <label>Level:</label>
    <input type="text" name="courseLevel" value="<%= courseLevel %>"><br>
    <label>Semester:</label>
    <input type="text" name="courseSemester" value="<%= courseSemester %>"><br>
    <div class="edit-or-delete">
        <input type="submit" value="Save">
        <a href='/courses/<%= studentCourseID %>/delete' class="warning">
            Delete Course
        </a>
    </div>
</form>
<script src="../../javascript/addCourse.js"></script>
</body>
</html>
