<!DOCTYPE html>
<html>
<head>
    <title>Add Course</title>
    <link rel="stylesheet" type="text/css" href="../../css/styles.css">
</head>
<body>
<div class="path">
    <a href="/profile">profile</a> /
    <a href="/courses">courses</a>
</div>
<h1>Add Course</h1>
<% if (warningMessage) { %>
    <p class='warning-message'>
        <% var warnings = warningMessage.split("\n");
        for (var i = 0; i < warnings.length; i++) { if (!warnings[i].length) continue %>
        <%= warnings[i] %> <br>
        <% } %>
    </p>
<% } %>
<form action="/courses/add" method="post">
    <label>Course:</label>
    <input type="text" id="searchInput" placeholder="Type here course name and choose from the list"
           onkeyup="searchOptions()">
    <select name="courseSelected" id="courseSelect">
        <option value="">Select Course</option>
        <% for (let i = 0; i < allCoursesOptions.length; i++) { %>
            <option value="<%= allCoursesOptions[i].id %>"><%= allCoursesOptions[i].code %>
                - <%= allCoursesOptions[i].name %></option>
        <% } %>
    </select><br><br>
    <label>Grade:</label>
    <select name="grade">
        <option value="">select grade</option>
        <% for (i = 0; i <= 100; i++) { %>
            <option value="<%= i %>"><%= i %></option>
        <% } %>
    </select><br><br>
    <label>Level:</label>
    <select name="level">
        <option value="">select level</option>
        <% for (i = 1; i <= 4; i++) { %>
            <option value="<%= i %>"><%= i %></option>
        <% } %>
    </select><br><br>
    <label>Semester:</label>
    <select name="semester">
        <option value="">select semester</option>
        <% for (i = 1; i <= 2; i++) { %>
            <option value="<%= i %>"><%= i %></option>
        <% } %>
    </select><br><br>
    <input type="submit" value="Add">
</form>
<script src="../../javascript/student/courses/add.js"></script>
</body>
</html>
