<!DOCTYPE html>
<html>
<head>
    <title>Edit Course</title>
    <link rel="stylesheet" type="text/css" href="../../../../css/styles.css">
</head>
<body>
<div class="path">
    <a href="/profile">profile</a> /
    <a href="/courses">courses</a> /
    <a href="/courses/<%= studentCourseID %>/notes">notes</a>
</div>
<h1>Edit Note</h1>
<% if (warningMessage) { %>
    <p class='warning-message'>
        <% var warnings = warningMessage.split("\n");
        for (var i = 0; i < warnings.length; i++) { if (!warnings[i].length) continue %>
        <%= warnings[i] %> <br>
        <% } %>
    </p>
<% } %>
<form action="/courses/<%= studentCourseID %>/notes/<%= noteID %>/edit" method="post">
    <label>Title:</label>
    <input type="text" name="title" value="<%= noteInfo.title %>" placeholder="Enter title"><br>
    <label>Content:</label>
    <textarea name="content" placeholder="Enter content"><%= noteInfo.content %></textarea><br>
    <div class="edit-or-delete">
        <input type="submit" value="Save">
        <a href='/courses/<%= studentCourseID %>/notes/<%= noteID %>/delete' class="warning">
            Delete Note</a>
    </div>
</form>
</body>
</html>
