<!DOCTYPE html>
<html>
<head>
    <title>Course Notes</title>
    <link rel="stylesheet" type="text/css" href="../../../../css/styles.css">
</head>
<body>
<div class="path">
    <a href="/profile">profile</a> /
    <a href="/courses">courses</a> /
    <a>notes</a>
</div>
<h1>Notes for <span class="highlight"><%= data.courseName %> (<%= data.courseCode %>)</span></h1>

<form action="/courses/<%= data.studentCourseID %>/notes/search/" method="post" class="search-bar">
    <input type="text" placeholder="Search..." name="searchWord" value="<%= data.searchBarValue %>">
    <div class="searchButton">
        <button type="submit">Search</button>
    </div>
</form>
<hr class="separator">
<div id="notes">
    <% for (let i = 0; i < data.notes.length; i++) { %>
        <div class="note-card">
            <p class="highlight"><%= data.notes[i].title %></p>
            <p><%= data.notes[i].content %></p>
            <button onclick="location.href='/courses/<%= data.studentCourseID %>/notes/<%= data.notes[i].id %>/edit'">
                View Note
            </button>
        </div>
    <% } %>
    <button id="add-note-button" onclick="location.href='/courses/<%= data.studentCourseID %>/notes/add'">Add Note
    </button>
</div>
</body>
</html>
