<html>
<head>
    <title>Show Students</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>
<div class="path">
    <a href="/admin">admin panel</a> /
    <a>show students</a>
</div>
<h1>Show Students</h1>
<% if (warningMessage) { %>
    <p class='warning-message'>
        <% var warnings = warningMessage.split("\n");
        for (var i = 0; i < warnings.length; i++) { if (!warnings[i].length) continue %>
        <%= warnings[i] %> <br>
        <% } %>
    </p>
<% } %>
<form action="/admin/show-students" method="post" class="search-bar">
    <label>Search by:</label>
    <select id="searchOption" name="searchOption">
        <option value="studentID" selected>Student ID</option>
        <option value="level">Level</option>
        <option value="gpa">GPA</option>
    </select>

    <div id="studentIDInputs" style="display:block">
        <label style="alignment: left">From: </label>
        <input type="text" name="studentIDFrom" placeholder="Enter the beginning of the students' IDs">
        <label>To: </label>
        <input type="text" name="studentIDTo" placeholder="Enter the end of the students' IDs">
    </div>

    <div id="gpaInputs" style="display:none">
        <label>From: </label>
        <input type="text" name="gpaFrom" placeholder="Enter the beginning of GPAs">
        <label>To: </label>
        <input type="text" name="gpaTo" placeholder="Enter the end of GPAs">
    </div>

    <div id="levelInputs" style="display:none">
        <label>Level: </label>
        <select name="level">
            <option value="">select level</option>
            <% for (i = 1; i <= 4; i++) { %>
                <option value="<%= i %>"><%= i %></option>
            <% } %>
        </select><br><br>
    </div>
    <div class="searchButton">
        <button type="submit">Search</button>
    </div>
</form>
<hr class="separator">
<div id="student-card-area">
    <% if (students) { %>
        <% for (i = 0; i < students.length; i++) { %>
            <div class="student-card">
                <h2><%= students[i].firstName %> <%= students[i].lastName %></h2>
                <p>Student ID: <%= students[i].id %></p>
                <p>Level: <%= students[i].level %></p>
                <p>GPA: <%= students[i].gpa %></p>
            </div>
        <% } %>
    <% } %>
</div>
<script src="../../javascript/admin/students/show.js"></script>
</body>
</html>





